linux-*.tar.xz
work/
/toolchain
vivado*.jou
vivado*.log
.cache.mk
copy-files/*
!copy-files/empty
*.qcow2
*.hex
*.swp
tags
backup/
.vscode/

-append
-bios
-device
-drive
-kernel
-netdev
-object
-smp
host.txt
Image
