linux-*.tar.xz
work/
/toolchain
vivado*.jou
vivado*.log
.cache.mk
copy-files/*
!copy-files/empty
*.qcow2
*.hex
*.swp
tags
backup/
.vscode/

-append
-bios
-device
-drive
-kernel
-netdev
-object
-smp
host.txt

Image
openeuler-kernel-*/
fw_payload_oe_*
Image-*
*.zst
opensbi-1.2-*

*.zip
run_mod.sh
fw_payload-2003.elf
fw_payload-2303.bin
run_openeuler-2.sh
