#
# Huawei driver configuration
#

config SCSI_HUAWEI_FC
	tristate "Huawei Fibre Channel Adapter"
	depends on PCI && SCSI
	depends on SCSI_FC_ATTRS
	depends on ARM64 || X86_64
	default m
	help
	  If you have a Fibre Channel PCI card belonging to this class, say Y.
	  Note that the answer to this question doesn't directly affect the
	  kernel: saying N will just cause the configurator to skip all
	  the questions about Huawei cards. If you say Y, you will be asked
	  for your specific card in the following questions.

if SCSI_HUAWEI_FC

source "drivers/scsi/huawei/hifc/Kconfig"

endif # SCSI_HUAWEI_FC
