# riscv Add for openEuler RISC-V
CONFIG_REISERFS_FS_XATTR=y
CONFIG_REISERFS_FS_SECURITY=y
CONFIG_EXT4_FS_SECURITY=y
CONFIG_BRIDGE=y
CONFIG_CMA=y
CONFIG_CMA_AREAS=7
CONFIG_DMA_CMA=y
CONFIG_CMA_SIZE_MBYTES=32
CONFIG_CMA_SIZE_SEL_MBYTES=y
CONFIG_CMA_ALIGNMENT=12

