#
# Huawei driver configuration
#
config SCSI_FC_HIFC
	tristate "Huawei hifc Fibre Channel Support"
	default m
	depends on PCI && SCSI
	depends on SCSI_FC_ATTRS
	help
	This driver supports Huawei Fibre Channel  PCI and
	PCIE host adapters.
